# Database URL for PostgreSQL
DATABASE_URL=
# Better Auth configuration
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
# Nodemailer configuration
USER=
APP_PASSWORD=
# ESewa configuration
ESEWA_MERCHANT_ID=
ESEWA_SECRET_KEY=
PAYMENT_URL=
VERIFY_URL=
APP_URL=
# Admin Access Guard
VITE_ADMIN_EMAIL=
VITE_CONTACT_EMAIL=